html, body{
    margin: 10px;
    background-color: var(--surface-b);
    font-family: var(--font-family);
}
.text-layout{
    color: (--text-color);
}
/* .card-imp{
    border: 2px;
    border-radius: 5px;
    width: 600px; 
    background-Color: var(--surface-b);
} */